<div>
    <div>
        <h2 id="header">Australia</h2>
    </div>
    <div>
        <img alt="Australia Map " src="./images/australia_physical_map.jpg" />
    </div>
    <div id="home">
        <p class='article'>Australia is the mos beautiful country inthe region of Earth called Oceania. More than 40,000 yrs before is when
            this continent turned out to be subdued as well as that was by the aboriginal Aborigines or Australians, as they
            are acknowledged at the moment. Following incredibly haphazard and infrequent visits, which was occurred by numerous
            people for example fisherman as well as explorers in addition to merchants preliminary in the late 17th century,
            some where around the year 1770 the area in the eastern half, of this continent was alleged by the British. Moreover
            they had officially established as the single penal colony of the state of New South Wales in the year1788 on
            January 26th. The residents grew and fresh areas were exposed as well as explored. It did not happen until the
            year 1901 when the six colonies were federated as well as that the country of Commonwealth of Australia was after
            that formed.</p>
        <p class='article-sub'>Seeing as at that time Australia has preserved a steady liberal as well as democratic political system, in addition
            to nowadays they even hang about in the Commonwealth.Even though several people when inquired would take for
            granted that Sydney is the capital city of Australia, because it is over and over again the most complained and
            recognized. Their up to date population that is in fact some where around 20.5 million citizens, is positioned
            for the most part in the coastal cities and not in Canberra, to your surprise is the capital city of Australia.
            These following cities have the principal population in Australia: Sydney, Brisbane, Melbourne, Perth as well
            as Adelaide.</p>
        <p class='article-sub'>It is believed that the foremost record of human locale in Australia occurred was somewhere around 42,000 - 48,000
            yers previously, these foremost foreigner Australians were the precursors of the aforesaid up to date indigenous
            Australians. Moreover it is as well believed that all of them came to the regions of Australia through land bridges
            as well as short sea crossings, which were fashioned from what are at the present day the areas of Southeast
            Asia. The greater parts of these people were gathers as well as hunters.</p>
        <p class='article-sub'>It is believed that the foremost record of human locale in Australia occurred was somewhere around 42,000 - 48,000
            yers previously, these foremost foreigner Australians were the precursors of the aforesaid up to date indigenous
            Australians. Moreover it is as well believed that all of them came to the regions of Australia through land bridges
            as well as short sea crossings, which were fashioned from what are at the present day the areas of Southeast
            Asia. The greater parts of these people were gathers as well as hunters.</p>
        <p class='article-sub'>It is believed that the foremost record of human locale in Australia occurred was somewhere around 42,000 - 48,000
            yers previously, these foremost foreigner Australians were the precursors of the aforesaid up to date indigenous
            Australians. Moreover it is as well believed that all of them came to the regions of Australia through land bridges
            as well as short sea crossings, which were fashioned from what are at the present day the areas of Southeast
            Asia. The greater parts of these people were gathers as well as hunters.</p>
        <p class='article-sub'>It is believed that the foremost record of human locale in Australia occurred was somewhere around 42,000 - 48,000
            yers previously, these foremost foreigner Australians were the precursors of the aforesaid up to date indigenous
            Australians. Moreover it is as well believed that all of them came to the regions of Australia through land bridges
            as well as short sea crossings, which were fashioned from what are at the present day the areas of Southeast
            Asia. The greater parts of these people were gathers as well as hunters.</p>
    </div>

</div>