<div>
    <div>
        <h2 id="header">Bulgaria</h2>
    </div>
    <div>
        <img alt="Bulgaria Map" src="./images/cultural-map.jpg" />
    </div>
    <div id="home">

        <p class='article'>Ancient Thrace was partially located on the territory of modern Bulgaria, and Thracian culture provides a wealth
            of archeological sites within Bulgaria. In the second century A.D., the Bulgars came to Europe from their old
            homeland, the Kingdom of Balhara situated in the Mount Imeon area (present Hindu Kush in northern Afghanistan).The
            first Bulgarian state was established in 635 A.D., located along the north coast of the Black Sea. In 681 A.D.
            the first Bulgarian state on the territory of modern Bulgaria was founded. This state consisted of a mixture
            of Slav and Bulgar peoples. In 864, Bulgaria adopted Orthodox Christianity. The First Bulgarian Kingdom, considered
            to be Bulgaria's 'Golden Age', emerged under Tsar Simeon I in 893-927. During this time, Bulgarian art and literature
            flourished. Followers of Saints Cyril and Methodius are believed to have developed the Cyrillic alphabet in Bulgaria
            in the early 10th century.</p>
        <p class='article-sub'>In 1018, the Byzantine Empire conquered Bulgaria. In 1185 the Bulgarians broke free of Byzantine rule and established
            the Second Bulgarian Kingdom. A number of Bulgaria's famous monasteries were founded during this period. Following
            the 1242 Mongol invasion, this kingdom began losing territory to its neighbors. Ottoman expansion into the Balkan
            Peninsula eventually reached Bulgaria, and in 1396 Bulgaria became part of the Ottoman Empire. During the five
            centuries of Ottoman rule, most of Bulgaria's indigenous cultural centers were destroyed. Several Bulgarian uprisings
            were brutally suppressed and a great many people fled abroad. The April uprising of 1876, the Russo-Turkish War
            (1877-78), and the Treaty of San Stefano (March 3, 1878, the date of Bulgaria's national holiday), began Bulgaria's
            liberation from the Ottoman Empire, but complete independence was not recognized until 1908.</p>
        <p class='article-sub'>During the first half of the 20th century, Bulgaria was marred by social and political unrest. Bulgaria participated
            in the First and Second Balkan Wars (1912 and 1913) and sided with the Central Powers, and later the Axis Powers,
            during the two World Wars. Although allied with Germany during World War II, Bulgaria never declared war on the
            Soviet Union and never sent troops abroad to fight under Nazi command. Near the end of World War II, Bulgaria
            changed sides to fight the German army all the way to Austria; 30,000 Bulgarian troops were killed.</p>
        <p class='article-sub'>Bulgaria had a mixed record during World War II, when it was allied with Nazi Germany under a March 1941 agreement.
            The Law for the Protection of the Nation, enacted in January 1941, divested Jews of property, livelihood, civil
            rights, and personal security. Despite a February 1943 agreement requiring Bulgaria to transfer Bulgaria's Jews
            to Nazi extermination camps in Poland, Bulgaria did not actually deport any Bulgarian Jews or Roma to Nazi concentration
            camps. Under that agreement, however, Bulgarian forces transferred approximately 11,000 Jews from Bulgarian-occupied
            territory (Thrace and Macedonia) to Nazi concentration camps. In June 1943 the government 're-settled' Sofia's
            25,000 Jews to rural areas. Tsar Boris--supported by the parliament (especially its prominent Deputy Speaker,
            Dimitar Peshev), the Orthodox Church, and the general public--aided the Jewish community and helped its 50,000
            members survive the war, despite harsh conditions. The Bulgarian Jews remained safe, and when they were permitted
            to emigrate to Israel after the war, most of them did.</p>
        <p class='article-sub'>King Simeon II assumed control of the throne in 1943 at the age of six following the death of his father Boris III.
            With the entry of Soviet troops into Bulgaria in September 1944 and the defeat of the Axis Powers in World War
            II, communism emerged as the dominant political force within Bulgaria. Simeon, who later returned and served
            as Prime Minister, was forced into exile in 1946 and resided primarily in Madrid, Spain. By 1946, Bulgaria had
            become a satellite of the Soviet Union, remaining so throughout the Cold War period. Todor Zhivkov, the head
            of the Bulgarian Communist Party, ruled the country for much of this period. During his 27 years as leader of
            Bulgaria, democratic opposition was crushed; agriculture was collectivized and industry was nationalized; and
            the Bulgarian Orthodox Church fell under the control of the state.</p>
        <p class='article-sub'>In 1989, Zhivkov was removed from power, and democratic change began. The first multi-party elections since World
            War II were held in 1990. The ruling communist party changed its name to the Bulgarian Socialist Party and won
            the June 1990 elections. Following a period of social unrest and passage of a new constitution, the first fully
            democratic parliamentary elections were held in 1991 in which the Union of Democratic Forces won. The first direct
            presidential elections were held the next year. As Bulgaria emerged from the throes of communism, it experienced
            a period of social and economic turmoil that culminated in a severe economic and financial crisis in late 1996-early
            1997. With the help of the international community, former Prime Minister Ivan Kostov initiated a series of reforms
            in 1997 that helped stabilize the country's economy and put Bulgaria on the Euro-Atlantic path. Elections in
            2001 ushered in a new government and president. In July 2001, Bulgaria's ex-king Simeon Saxe-Coburg-Gotha became
            the first former monarch in post-communist Eastern Europe to become Prime Minister. His government continued
            to pursue Euro-Atlantic integration, democratic reform, and development of a market economy. Bulgaria became
            a member of the North Atlantic Treaty Organization on March 29, 2004, and a member of the European Union on January
            1, 2007.</p>

    </div>