<div>
    <div>
        <h2 id="header">New Zealand</h2>
    </div>
    <div>
        <img alt="New Zealand Map" src="./images/new-zealand-map-big.jpg" />
    </div>
    <div id="home">

        <p class='article'>New Zealand is an island country in the southwestern Pacific Ocean. The country geographically comprises two main
            landmasses – that of the North Island, or Te Ika-a-Māui, and the South Island, or Te Waipounamu – and numerous
            smaller islands. New Zealand is situated some 1,500 kilometres (900 mi) east of Australia across the Tasman Sea
            and roughly 1,000 kilometres (600 mi) south of the Pacific island areas of New Caledonia, Fiji, and Tonga. Because
            of its remoteness, it was one of the last lands to be settled by humans. During its long isolation, New Zealand
            developed a distinctive biodiversity of animal, fungal and plant life; most notable are the large number of unique
            bird species. The country's varied topography and its sharp mountain peaks owe much to the tectonic uplift of
            land and volcanic eruptions.</p>
        <p class='article-sub'>Polynesians settled New Zealand in 1250–1300 CE and developed a distinctive Māori culture. Abel Tasman, a Dutch explorer,
            was the first European to sight New Zealand in 1642 CE.[12] The introduction of potatoes and muskets triggered
            upheaval among Māori early during the 19th century, which led to the inter-tribal Musket Wars. In 1840 the British
            Crown and Māori signed the Treaty of Waitangi, making New Zealand a British colony. Immigrant numbers increased
            sharply and conflicts escalated into the New Zealand Wars, which resulted in Māori land being confiscated in
            the mid North Island. Economic depressions were followed by periods of political reform, with women gaining the
            vote during the 1890s, and a welfare state being established from the 1930s. After World War II, New Zealand
            joined Australia and the United States in the ANZUS security treaty, although the United States later suspended
            the treaty as a result of New Zealand's adoption of a nuclear-free policy. New Zealanders enjoyed one of the
            highest standards of living in the world in the 1950s, but the 1970s saw a deep recession, worsened by oil shocks
            and the United Kingdom's entry into the European Economic Community. The country underwent major economic changes
            during the 1980s, which transformed it from a protectionist to a liberalised free trade economy; once-dominant
            exports of wool have been overtaken by dairy products, meat, and wine.</p>
        <p class='article-sub'>The majority of New Zealand's population is of European descent; the indigenous Māori are the largest minority, followed
            by Asians and Pacific Islanders. English, Māori and New Zealand Sign Language are the official languages, with
            English predominant. Much of New Zealand's culture is derived from Māori and early British settlers. Early European
            art was dominated by landscapes and to a lesser extent portraits of Māori. A recent resurgence of Māori culture
            has seen their traditional arts of carving, weaving and tattooing become more mainstream. The country's culture
            has also been broadened by globalisation and increased immigration from the Pacific Islands and Asia. New Zealand's
            diverse landscape provides many opportunities for outdoor pursuits and has provided the backdrop for a number
            of big budget movies.</p>
        <p class='article'>New Zealand is organised into 11 regional councils and 67 territorial authorities for local government purposes;
            these have less autonomy than the country's long defunct provinces did. Nationally, legislative authority is
            vested in a unicameral Parliament, while executive political power is exercised by the Cabinet, led by the Prime
            Minister. Queen Elizabeth II is the country's head of state and is represented by a Governor-General. The Realm
            of New Zealand also includes Tokelau (a dependent territory); the Cook Islands and Niue (self-governing states
            in free association with New Zealand); and the Ross Dependency, which is New Zealand's territorial claim in Antarctica.
            New Zealand is a member of the United Nations, Commonwealth of Nations, ANZUS, Organisation for Economic Co-operation
            and Development, Pacific Islands Forum and Asia-Pacific Economic Cooperation.</p>

    </div>